torch==2.5.1
torchvision==0.20.1
xformers==0.0.29.post1
accelerate==1.7.0
braceexpand==0.1.7
datasets==3.6.0
diffusers==0.30.0
einops==0.7.0
huggingface-hub==0.33.0
imageio==2.37.0
llvmlite==0.44.0
lpips==0.1.4
numba==0.61.2
numpy==1.26.4
omegaconf
opencv-python==4.9.0.80
opencv-python-headless==4.11.0.86
packaging==25.0
pandas==2.2.3
pillow==10.4.0
pyiqa
safetensors
scikit-image
scikit-learn==1.7.0
scipy==1.12.0
tensorboardX==2.6.4
transformers==4.51.1
tqdm==4.67.1
yapf==0.43.0
zipp==1.0.0
